<div class="itg-main-container">
	<h1 class="itg" id="itg-top">Study Overview</h1>
	<p class="itg">In the <em class="itg">Ri</em>sk and <em class="itg">Mod</em>ifying factors for <em class="itg">F</em>rontal <em class="itg">T</em>emporal <em class="itg">D</em>ementia (<em class="itg">RiMod-FTD</em>) project we generate a multi-omics, multi-model data resource for FTD research which will allow in-depth research into the molecular mechanisms.</p>
	<h2 class="itg">Graphical overview of the RiMod-FTD project.</h2>
	<div class="itg-row box">
		<div class="itg-container one-third itg-column">
			<p class="itg">In phase 1, Human Post-mortem brain tissue samples from multiple regions of patients with mutations in GRN, MAPT and C9orf72 have been collected and used for multi-omics data generation. The datasets have been integrated and analysed and published to be accessible as FTD resource. In subsequent phases additional datatypes will be added (i.e. ATACseq) and the resource will be extended with data from matching mouse models and iPSC derived celltypes. The multi-omics approach allows to profile multiple regulatory features of gene expression, including enhancer- and promoter-based regulation, epigenetic regulation, alternative splicing, post-transcriptional regulation (miRNAs) and regulation of translation (proteomics).</p>
			<p class="itg-caption" style="font-size:x-small"><a href="https://www.biorxiv.org/content/10.1101/2020.12.01.405894v1">bioRxiv | Integrated multi-omics analysis reveals common and distinct dysregulated pathways for genetic subtypes of Frontotemporal Dementia</a></p>
		</div>
		<div class="itg-container two-thirds itg-column">
			<div class="itg itg-svg-container" id="abstractdiagram"></div>
		</div>
	</div>
	<div class="accd jsa">
		<div class="accd_item jsa-item" id="assay_accordian">
			<div class="accd-header jsa-header">
				<h3 class="itg">ASSAYS</h3>
			</div>
			<div class="accd-body jsa-body itg-container">
				<div class="itg itg-graph" id="example_graph"></div>
			</div>
		</div>
	</div>
	<div class="accd jsa">
		<div class="accd_item jsa-item active" id="team_accordian">
			<div class="accd-header jsa-header">
				<h3 class="itg">TEAM</h3>
			</div>
			<div class="accd-body jsa-body itg-container">
				<div class="itg-box">
					<div class="itg-three itg-columns">
						<h5 class="itg">Kevin Menden</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Margherita Francescatto</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Tenzin Niyma</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Cornelis Blauwendraat</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
						<h6 class="itg">National Institute on Aging, National Institutes of Health, Bethesda, MD, USA </h6>
						
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Ashutosh Dhingra</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Melissa Castillo-Lizardo</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Noemia Fernandes</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Lalit Kaurani</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Deborah Kronenberg-Versteeg</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Burcu Atarsu</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
						<h6 class="itg">Hertie Institute for Clinical Brain Research, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Eldem Sadikoglou</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Barbara Borroni</h5>
						<h6 class="itg">Neurology Unit, Department of Clinical and Experimental Sciences, University of Brescia, Italy</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Salvador Rodriguez-Nieto</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Javier Simon-Sanchez</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Andre Fischer</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Göttingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">David Wesley Craig</h5>
						<h6 class="itg">University of Southern California, California, USA </h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Manuela Neumann</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Stefan Bonn</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
						<h6 class="itg">University Medical Center Hamburg-Eppendorf, Hamburg, Germany </h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Patrizia Rizzu</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany</h6>
					</div>
					<div class="itg-three itg-columns">
						<h5 class="itg">Peter Heutink</h5>
						<h6 class="itg">German Center for Neurodegenerative Diseases, Tübingen, Germany </h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="accd jsa">
		<div class="accd_item jsa-item active" id="funding_accordian">
			<div class="accd-header jsa-header">
				<h3 class="itg">FUNDING</h3>
			</div>
			<div class="accd-body jsa-body itg-container">
				<h4 class="itg">Funding</h4>
				<div class="itg-box">
					<div class="itg-row" style="display:flex">
						<img alt='funder' class="itg-list-img nomis" id="nomis" style="margin-left: auto;margin-right: auto;">
						<div class="itg-spacer" style="margin-left: auto;margin-right: auto;"></div><img alt='funder' class="itg-list-img jpnd" id="nomis" style="margin-left: auto;margin-right: auto;">
						<div class="itg-spacer" style="margin-left: auto;margin-right: auto;"></div>
					</div>
				</div>
				<h4 class="itg">Acknowledgements</h4>
				<div class="itg-box">
					<p class="itg">Post-mortem brain tissue was obtained from the <a href="https://nin.nl/" rel="noopener" target="_blank">Netherlands Brain Bank, Netherlands Institute for Neuroscience</a>,&nbsp;and from the <a href="http://Queen%20Square%20Brain%20Bank%20for%20Neurological%20Disorders">Queen Square Brain Bank for Neurological Disorders</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>